<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.churchscan.app">

    <!-- 🔑 Firestore 등 네트워크 사용을 위한 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChurchScan">

        <!-- 앱 시작: GIF 스플래시 화면 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 화면 -->
        <activity android:name=".LoginActivity" android:exported="false" />

        <!-- 회원가입 화면 -->
        <activity android:name=".RegisterActivity" android:exported="false" />

        <!-- 메인 화면 -->
        <activity android:name=".MainActivity" android:exported="false" />

        <!-- 검색 화면 -->
        <activity android:name=".SearchActivity" android:exported="false" />

        <!-- 프로필 보기 화면 -->
        <activity android:name=".ProfileActivity" android:exported="false" />

        <!-- 프로필 수정 화면 -->
        <activity android:name=".EditProfileActivity" android:exported="false" />
    </application>
</manifest>
